body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
  }
  
  .topnav a {
    color: #1b294a;
    text-decoration: none;
    font-size:16px;
  }
  
  .topnav a:hover {
    color:#eda41c;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .logo{
      width: 100px;
      height: 50px;
      margin-top: -10px; 
  }
  .footer{
      padding: 25px;
    background-color: #d9d9d9;
    width: auto;
    height: 150px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  @media only screen and (min-width: 480px) {
    .topnav a{
      color: #1b294a;
      text-decoration: none;
      font-size:16px;
    }
  }
  @media only screen and (min-width: 769px) {
    .topnav a{
      color: #1b294a;
      text-decoration: none;
      font-size:16px;
      padding-right: 5%;
    }
    .topnav{
      margin-right: 5%;
      margin-left: 5%;
    }
    .topnav-1 a{
      padding-right: 20px;
    }
    .footer{
      padding-top: 3%;
    }
  }